@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primary-font: "Dancing Script", sans-serif; /*Main font for title and headers*/
    --secondary-font: "Playfair Display", cursive; /*second font for text*/
    --primary-color: #3E2723; /*Main color for title and headers*/
    --secondary-color: #D1B280; /*second color for text*/
    --highlight-color: #D5B895; 
}

body{
    background-color: bisque;/*main background of website*/
}

/*Navigation*/
nav{
    background-color: var(--secondary-color);/*color of nav bard*/
}

a.navbar-brand{/*The Debug Lounge header*/
    font-family: var(--primary-font); /*color of header*/
    font-size: 180%;/*increased size by 180%*/
}

a.nav-link{
    color: #4B382A;/*color*/
    font-family: var(--primary-font);
    font-size: 140%;/*increased size by 140%*/
}

.custom-button-filled {/*order button in nav*/
    border: 2px solid var(--primary-color);/*give border around button with primary color*/
    background-color: var(--secondary-color);/*background color*/
    font-family: var(--primary-font);/*give font using primary font*/
    color: rgb(0, 0, 0);/*color black*/
}

/*Header*/

/*Modal*/
div.modal-body,
div.modal-header{
 background-color:var(--secondary-color);/*gives the body and header of modal background color*/
}

div.modal-header{
    padding-left:10px;/*moves header to the right*/
}

#exampleInputEmail1.form-control,/*email and fullname text box*/
#exampleInputFullname1.form-control{
    background-color:bisque;/*gives background color*/
    border: 1px solid rgb(0, 0, 0);/*gives black border*/
}

h1,
h2,
h3,
h5 {
    font-family: var(--primary-font);/*gives all heading primary font*/
    color: var(--primary-color);/*gives all heading primary color*/
}

h1,
h2,
h5 {
    text-transform: uppercase;/*heading text to uppercase*/
}

h2 {
    margin-bottom: 2rem;/*gives h2 spacing in the bottom*/
}

.img{/*logo img*/
    background: url("/assets/img/Beige_Brown_Creative_Circle_Coffe_Shop_Logo-removebg-preview.png") no-repeat center center/cover;
    width: 400px;/*Gives width of logo img of 400px*/
    height: 270px;/*Gives height of logo img of 270px*/
    margin: auto;/*centers img*/
}

header{
    
    margin-top: 50px;/*creates space on top between nav*/
    margin-bottom: 100px;/*creates space on bottom between about*/
}

/*Main*/

/*About*/
main img{/*images in main element*/
    display: flex;
    margin: auto;
}

#About{
    margin-bottom: 250px;/*creates space between about and menu*/
    border: 1px solid #d3cbb8;/*creates border  around menu*/
    background-color: var(--secondary-color);/*background color*/
    border-radius: 20px;/*Rounds the border*/
}

img#imgabout{
    /*resize image inside about section*/
    width: 600px;
    height: 400px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

/*Menu*/


#Menu{
    margin-bottom: 250px; /*Creates space between menu and products*/
    border: 1px solid #d3cbb8;/*creates border  around menu*/
    background-color: var(--secondary-color);/*background color*/
    border-radius: 10px; /*Rounds the border*/
}

.card:hover,
#Gallery img:hover,
#reviews div.col:hover {
    transform: scale(1.05);/*When each menu item, img in gallery and reviews are hovered it increases 1.05*/
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /*box shadow*/
}

.card-img-top {/*class given to each img card*/
    border-radius: 10px;/*rounds img*/
}

div.card{
    min-height: 424px;/*lines up all the cards evenly*/
    border: 1px solid rgb(221, 193, 52);
}

.card-title {
    font-weight: bold;/*Makes the title bold */
    font-size: 1.5rem;
    color: #5C4033; /* Gives the title a coffee-like colour */
}
  
.card-text 
{
    font-size: 1rem;
    color: #6F4F4B; /*  Gives the text a Coffee brown colour */
    line-height: 1.5;
}
 
#Menu button{
    background-color: #5C4033; /* Gives each menu button coffee-like colour */
    color: white;
    border-radius: 5px;
    font-weight: bold; /*Title bold*/
 }
  
#Menu button:hover {
    background-color: #3E2C2A; /* Darker brown shade color when button is hovered */
    cursor: pointer;/*mouse changes from arrow to pointer*/
}


    

/*Product*/

#Product{
margin-bottom: 250px;/*Gives space between product and Gallery*/
    background-color: var(--secondary-color);/*Background color*/
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;/*rounds border*/
}


#Product div.card button{
    margin-top: 20px;/*aligns the buttons of product*/
    
}


/*Gallery*/

#Gallery{
    margin-bottom: 100px;/*Gives space between gallery and reviews*/
}


#Gallery img{
    border-radius: 20px; /*Rounds the corners of each image to 20px*/
    height: 330px;/*Gives it a height of 330px*/
    width: 400px;/*And a width of 400px*/
}


/*Reviews*/
#reviews{
    margin-bottom: 100px; /*Gives space between reviews and location*/
    
}
    

#reviews div.card-body{
    border: 2px solid #c8a165; /*gives each review card a border*/
    background-color: #e7d788;/*background color review*/
    border-radius: 20px;/*rounds edge of review cards*/
    width: 400px;/*Gives the review cards a width of 400px*/
    height: 250px;/*Gives the review cards a height of 250px*/
    margin-right: 25px;/*Spaces each card*/
    
}




#reviews p{
    font-size: 110%;/*Increases the text inside the reviews by 110%*/
}





/*Location*/
#location {
    background-color:var(--secondary-color);/*background color*/
    padding: 40px 20px;/*creates padding around the Find Us text*/
    border: 1px solid #d3cbb8;/*create border around the section*/
    border-radius: 10px;/*corners edge by 10px*/
    margin-bottom: 100px;/*creates space between location and footer*/
  }



/*Footer*/

footer{
    background-color: var(--secondary-color);/*background color*/
    padding: 0; /*allows footer to strecth out to the end of the screen*/
    margin: 0;/*allows footer to strecth out to the end of the screen*/
    width: 100%;/*allows footer to strecth out to the end of the screen*/
}

.social i { /*Font awesome socials links*/
    font-size: 200%;/*increases the size of each icon by 200%*/
    margin-right: 10px;/*allows space between the icons*/
    color: black;/*gives the icons the color black*/
}

tr td{/*table*/
    border: 1px solid white; /*gives each row a border*/
}

th{
    border: 1px solid white; /*gives each column a border*/
}

/*Order page*/
#order{
    margin-top: 30px;/*creates space between the nav and the section*/
    background-color: var(--secondary-color); /*Background color*/
    border-radius: 10px;/*rounds the corner by 10px*/
}
    



/*Sucess page*/
#success{
    margin: auto;/*spaces the section to the middle of the website*/
}
       



/*When the screen is 768px or smaller*/
@media screen and (max-width: 768px) 
{
    main img{/*all images inside main element*/
        width:100%;/*gives width 100% which allows the image to look the same when screen is shrinked*/
        margin-bottom: 30px;/*gives space*/
    }

    div.img{
        width: 70%;/*images inside all divs like menu and product*/
    }

    #header{
        margin-bottom: 50px;/*when screen is decreased space between header and about is shirnked from 100px to 50px*/
    }

    #About{
        margin-bottom: 50px;/*when screen is decreased space between About and Menu is shirnked from 250px to 50px*/
    }

    #Menu{
        margin-bottom: 50px;/*when screen is decreased space between Menu and Product is shirnked from 250px to 50px*/
    }

    #Product{
        margin-bottom: 50px; /*when screen is decreased space between Product and Gallery is shirnked from 250px to 50px*/
    }

    #Gallery{
        margin-bottom: 50px; /*when screen is decreased space between Gallery and reviews is shirnked from 100px to 50px*/
    }

    #reviews{
        margin-bottom: 50px; /*when screen is decreased space between reviews and about is location from 100px to 50px*/
        
    }

    #About p{
        text-align: center;
        
        margin-bottom: 20px;
       
    }

    div.card{
        margin: auto;/*menu and product spaced in center when screen is shrinked*/
    }

    #reviews div.col{
        margin: auto; /*reviews spaced in center when screen is shrinked*/
    }
    
    #Gallery img{/*images in the gallery are resized inorder to fit perfectly*/
        width: 300px;
        height: 230px;
        margin: 0;
        margin: auto;
    }
    
    img#imgabout{
        width: 100%;
    }

    #reviews div.card-body{/*reviews are resized inorder to fit perfectly*/
        width: 300px;
        height: 230px;
        margin: 0;
        margin: auto;
    }

    #location{/*allows map to fit perfectly when size is decreased*/
        width:100%;
    }
}

/*When the screen is between 768px or 1199px*/
@media screen and (min-width: 768px) and (max-width: 1199px) 
{
    #header button{/*Gives subscribe to newsletter btn space between top and bottom*/
        margin: 20px 0;
    }  
    
    #About{
        margin-bottom: 100px;/*when screen is decreased space between About and Menu is shirnked from 250px to 100px*/
    }

    #Menu{
        margin-bottom: 100px;/*when screen is decreased space between Menu and Product is shirnked from 250px to 100px*/
    }
    
    #Product{
        margin-bottom: 100px;/*when screen is decreased space between Product and Gallery is shirnked from 250px to 100px*/
    }

    #reviews div.card-body{/*centers the review cards*/
        margin: auto;
    }
    
}


/*When the screen is <1400px*/
@media screen and (max-width: 1400px) {

    main img{/*img in main element*/
        
        margin-bottom: 30px;/*creates spacing of 30px in the bottom*/
    }

    #submitbtn{/*submit button in orders page*/
    padding-bottom: 70px;/*gives spacing to bottom of 70px*/
            
    }
        
    #About p{
        text-align: center;
        margin: auto;
        margin-bottom: 20px;
    }


}

/*When the screen is >1400px*/
@media screen and (min-width: 1400px){

    #About p{/*text in about me section aka questions and the answers*/
        padding-left: 65px;/*increase the space between the img and the text by 65px*/
    }
}